*{
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;}

.redContainer {
   position:relative;
   display: inline-block;
}

.smallerRedContainer{
    position:absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#playerHealth{
    position:absolute;
    background-color:#818CF8;
    top:0;
    right:0;
    bottom: 0;
    width: 100%;
}

#timer{
    background-color: black;
    color: azure;
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 40px;

}

.healthBarControl{
    background-color:red;
    height: 30px;
    width: 100%;
}

.healthBar{
    position:relative; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 2px solid white;
}

#enemyHealth{
    position:absolute;
    background-color:#818CF8;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
}
#message{
    display: none;
    position: absolute;
    color:white;
    align-items: center;
    justify-content: center;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    font-size: 60px;
}